/* CSS RESETS */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
/* END CSS RESETS */
/* global variables */
:root {
	--clr-accent-grey: #f5f5f5;
	--clr-white: #ffffff;
	--clr-black: #000000;
	--clr-btn-primary: var(--clr-black);
	--clr-btn-secondary: #fff544;
	--clr-text: var(--clr-black);
	--clr-btnCart: hsla(0, 0%, 97%, 0.8);
	--ff-grid-header: "Lustria", serif;
	--ff-primary: "Jost", sans-serif;

	--radio-choice-clr-1: var(--clr-white);
	--radio-choice-clr-2: var(--clr-white);
}
/* global variables */
/* general styles */
body {
	font-family: var(--ff-primary);
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	gap: 1rem;
	width: 12.9375rem;
	height: 2.8125rem;
	border: none;
	position: relative;
	z-index: 1;
	transition: transform ease 250ms, box-shadow ease 250ms;
}
.btn:hover {
	transform: scale(1.01);
	box-shadow: hsla(0, 0%, 0%, 0.1) 0 0 4px;
}
.btn::before {
	content: "";
	position: absolute;
	left: 0;
	width: 0%;
	height: 100%;
	z-index: -1;
	transition: width ease 250ms;
}
.btn:hover::before {
	width: 100%;
}
/* general styles */
/* banner section styles */
/* //////////////////////////////////////// */
/* header styles */
.banner-section header {
	background-color: var(--clr-accent-grey);
}
.banner-section header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.625rem 3.125rem;
}
#nav-icon {
	display: none;
}
#close-nav,
#open-nav.active {
	display: none;
}
#close-nav.active {
	display: block;
}
#nav-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	background-color: var(--clr-accent-grey);
	position: absolute;
	top: 4.1875rem;
	left: 0;
	transform: translateX(-100%);
	padding: 1.5625rem 1rem;
	width: 100%;
	transition: transform ease 300ms;
	z-index: 1;
}
#nav-menu.active {
	transform: translateX(0);
}
.banner-section header .btn {
	background-color: var(--clr-btn-secondary);
}
.banner-section header .btn::before {
	background-color: var(--clr-black);
}
.banner-section header .btn:hover {
	color: var(--clr-white);
}
.banner-section header .btn:hover > svg path {
	fill: var(--clr-white);
}

@media (max-width: 48rem) {
	.banner-section header {
		position: relative;
	}
	.banner-section header .container {
		justify-content: center;
		padding: 1.5rem 1rem;
	}
	#nav-icon {
		display: block;
		position: absolute;
		left: 1rem;
	}
	.banner-section header .btn-desktop,
	.banner-section header .slogan-desktop {
		display: none;
	}
}
/* header styles */

/* main styles */
.banner-section main .main-cover {
	width: 100%;
	height: 24.375rem;
	object-fit: cover;
	object-position: bottom;
}
.banner-section main .main-content-container {
	display: grid;
	grid-template-columns: 30.25rem 100vw;
	align-items: center;
	overflow: hidden;
	padding-left: 68px;
}
.banner-section main .main-content-cover {
	width: 100%;
	height: 402px;
	object-fit: cover;
	object-position: top;
}
.banner-section main .main-content {
	max-width: 30.25rem;
}
.banner-section main .main-content h1 {
	font-size: 4.375rem;
	line-height: 1;
	font-weight: 500;
}
.banner-section main .main-content p {
	font-size: 1.25rem;
	line-height: 1.4;
	margin-top: 3.125rem;
	margin-bottom: 3.125rem;
}
.banner-section main .main-content .btn {
	background-color: var(--clr-black);
	color: var(--clr-white);
}
.banner-section main .main-content .btn::before {
	background-color: var(--clr-btn-secondary);
}
.banner-section main .main-content .btn:hover {
	color: var(--clr-black);
}
.banner-section main .main-content .btn:hover > svg path {
	fill: var(--clr-black);
}

@media (max-width: 48rem) {
	.banner-section main .main-cover {
		display: none;
	}
	.banner-section main .main-content {
		text-align: center;
		padding-left: 16px;
		padding-right: 16px;
	}
	.banner-section main .main-content h1 {
		font-size: 30px;
		margin-top: 50px;
	}
	.banner-section main .main-content p {
		font-size: 16px;
		margin-top: 24px;
		margin-bottom: 0;
	}
	.banner-section main .main-content p > span {
		display: none;
	}
	.banner-section main .main-content-container {
		display: grid;
		grid-template-columns: 1fr;
		padding-left: 0;
		gap: 12px;
		position: relative;
		justify-items: center;
	}
	.banner-section main .main-content .btn {
		position: absolute;
		bottom: 40px;
		left: 50%;
		transform: translateX(-50%);
	}
	.banner-section main .main-content-cover {
		width: 100vw;
		height: 264px;
	}
}
/* main styles */
/* footer styles */
.banner-section footer {
	text-align: center;
	background-color: var(--clr-accent-grey);
	padding: 10px 0;
}
.banner-section footer p {
	font-size: 16px;
	line-height: 14px;
}
.banner-section footer p span:last-of-type {
	display: none;
}
@media (max-width: 48rem) {
	.banner-section footer p {
		font-size: 14px;
		line-height: 14px;
	}
	.banner-section footer p span:last-of-type {
		display: inline;
	}
	.banner-section footer p span:first-of-type {
		display: none;
	}
}
/* footer styles */
/* //////////////////////////////////////// */
/* banner section styles */
/* grid section styles */
/* //////////////////////////////////////// */
.grid-section {
	margin-top: 5.625rem;
	position: relative;
}
.grid-section-container {
	padding: 0 3.125rem 3.125rem 3.125rem;
}
.grid-section h2 {
	font-family: var(--ff-grid-header);
	font-size: 2.25rem;
	line-height: 1.2;
	font-weight: normal;
	margin-bottom: 1.875rem;
}
.products-grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(433px, 1fr));
	gap: 20px;
	justify-items: stretch;
}
.products-grid__item {
	position: relative;
}
.products-grid__item img {
	width: 100%;
}
.products-grid__item button {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--clr-btnCart);
	cursor: pointer;
	position: absolute;
}
.products-grid__item:nth-child(even) button {
	top: 50%;
	right: 20%;
}
.products-grid__item:nth-child(odd) button {
	top: 60%;
	left: 40%;
}
/* POPUP SCREEN */
.product-popup__container {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	min-height: var(--view-height);
	background-color: hsl(0, 0%, 0%, 0.2);
	display: none;
	/* display: flex;
	align-items: center;
	justify-content: center; */
}
.product-popup__container.active {
	display: flex;
	align-items: center;
	justify-content: center;
}
.product-popup__window {
	width: 311px;
	height: 447px;
	background-color: var(--clr-white);
	box-shadow: 0 2px 4px hsl(0, 0%, 0%, 0.2);
	padding-top: 14px;
	padding-bottom: 24px;
	z-index: 1;
}
.exit-btn-wrapper {
	padding-right: 16px;
	width: 100%;
	margin-bottom: 8px;
}
.product-popup__exit {
	background-color: transparent;
	border: none;
	display: block;
	margin-left: auto;
	cursor: pointer;
}
/* popup content */
.product-popup__content {
	display: flex;
	gap: 0.5rem;
	align-items: flex-end;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 8px;
}
.product-popup__image {
	width: 7.5rem;
	height: 8.75rem;
	flex-shrink: 0;
	flex-grow: 0;
}
.product-popup__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.product-popup__text h3 {
	font-weight: 300;
	line-height: 1.2;
	font-size: 1rem;
	margin-bottom: 1.25rem;
}
.product-popup__price {
	font-family: var(--ff-grid-header);
	line-height: 1.2;
	font-size: 1rem;
	margin-bottom: 0.75rem;
}
.product-popup__desc {
	font-size: 0.875rem;
	font-weight: 300;
	letter-spacing: -0.0088rem;
	line-height: 1.1;
}
/* popup content */
.product-popup__window .wrapper {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}
.product-popup__window h4 {
	font-size: 0.875rem;
	line-height: 1.3;
	font-weight: 400;
	margin-bottom: 0.375rem;
}
/* popup color picker */
.product-popup__colorpicker {
	margin-bottom: 0.75rem;
}
.product-popup__colorpicker .colorpicker {
	font-size: 18px;
	line-height: 1;
	letter-spacing: calc(-0.02 * 18px);
	display: flex;
	align-items: center;
}
/* TO DO
	SLECTIONS SWITCH ANIMATION
*/
.product-popup__colorpicker .colorpicker label {
	flex: 1;
	padding: 10px;
	cursor: pointer;
	border: black 1px solid;
	position: relative;
	transition: background-color ease-in-out 300ms;
}
.product-popup__colorpicker .colorpicker label::before {
	content: "";
	height: 100%;
	width: 6px;
	border-right: #000000 1px solid;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.product-popup__colorpicker .colorpicker label:first-of-type::before {
	background-color: var(--radio-choice-clr-1);
}
.product-popup__colorpicker .colorpicker label:last-of-type::before {
	background-color: var(--radio-choice-clr-2);
}
.product-popup__colorpicker .colorpicker label:has(input:checked) {
	background-color: var(--clr-black);
	color: var(--clr-white);
}
.product-popup__colorpicker .colorpicker input {
	display: none;
}
.product-popup__colorpicker .colorpicker,
.product-popup__sizepicker .sizepicker {
	width: 16.875rem;
	height: 2.5rem;
}
/* popup color picker */
/* popup size menu */
.product-popup__sizepicker .sizepicker {
	border: #000000 1px solid;
	position: relative;
	z-index: 99;
}
.product-popup__sizepicker .sizepicker .toggle-sizepicker {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	height: 100%;
	padding-left: 0.875rem;
}
.product-popup__sizepicker .sizepicker .toggle-sizepicker.active {
	cursor: default;
}
.toggle-sizepicker p {
	letter-spacing: calc(-0.02 * 1rem);
	line-height: 1;
}
.toggle-sizepicker .arrow {
	border-left: black 1px solid;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.toggle-sizepicker .arrow > img {
	cursor: pointer;

	transition: transform ease-in-out 300ms;
}
.toggle-sizepicker .arrow > img.active {
	transform: rotate(180deg);
}
.sizepicker-menu {
	position: absolute;
	left: 0;
	top: 38px;
	border: black 1px solid;
	width: 100%;
	height: 100px;
	overflow: scroll;
	background-color: #ffffff;
	display: none;
}
.sizepicker-menu.active {
	display: block;
}
.sizepicker-menu::-webkit-scrollbar {
	display: none;
}
.sizepicker-menu ul {
	list-style: none;
	text-align: center;
}
.sizepicker-menu ul li {
	padding-top: 10px;
	padding-bottom: 10px;
	transition: color ease-in-out 300ms, background-color ease-in-out 300ms;
	line-height: 1;
	cursor: pointer;
}
.sizepicker-menu ul li:hover {
	background-color: var(--clr-black);
	color: var(--clr-white);
}
/* popup size menu */
/* popup add to cart */
.product-popup__addtocart {
	background-color: var(--clr-black);
	color: var(--clr-white);
	width: 100%;
	margin-top: 3.125rem;
}
.product-popup__addtocart::before {
	background-color: var(--clr-btn-secondary);
}
.product-popup__addtocart:hover {
	color: var(--clr-text);
}
.product-popup__addtocart:hover svg > path {
	fill: var(--clr-text);
}
/* popup add to cart */

/* POPUP SCREEN */

@media (max-width: 48rem) {
	.grid-section {
		margin-top: 2.5rem;
	}
	.grid-section-container {
		padding: 0 1rem 1.5rem 1rem;
	}
	.grid-section h2 {
		font-size: 1.5rem;
		margin-bottom: 1.25rem;
		text-align: center;
	}
	.products-grid {
		grid-template-columns: repeat(2, minmax(170px, 1fr));
		gap: 4px;
	}
}
/* for very small mobile screens */
@media (max-width: 23.4375rem) {
	.products-grid {
		grid-template-columns: 1fr;
	}
}
/* //////////////////////////////////////// */
/* grid section styles */

/* 
TO DO

>> popup animation
>> color switch animation
>> size menu animation

*/
